@page "/demo"
@using Plainquire.Demo.Components
@using Plainquire.Demo.Models
@using Plainquire.Filter.Extensions
@inherits DemoPage

<div class="card mb-4">
    <h6 class="card-header">
        Refine Query (<a target="_blank" href="https://github.com/fschick/FilterExpressionCreator#filter-micro-syntax">Syntax</a>)
    </h6>
    <div class="card-body">
        <form class="row g-3" @onsubmit="@UpdateQuery" novalidate>
            <!-- Predefined samples -->
            <div class="col-md-12 semibold">Predefined samples</div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-secondary" @onclick="@(() => LoadPredefined("Older-than-40"))">Older than 40</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-secondary" @onclick="@(() => LoadPredefined("Unknown-Age"))">Unknown Age</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-secondary" @onclick="@(() => LoadPredefined("Known-Age"))">Known Age</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-secondary" @onclick="@(() => LoadPredefined("Gender-Contains"))">Gender contains 'male'</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-secondary" @onclick="@(() => LoadPredefined("Address-Street"))">Street contains 'A'</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-secondary" @onclick="@(() => LoadPredefined("Project-Contains"))">Project contains 'Z'</button>
            </div>

            <!-- Filter -->
            <div class="col-md-12 m-0">
                <hr />
            </div>
            <div class="col-md-12 m-0 semibold">Filter</div>
            <div class="col-md-3">
                <label for="firstName" class="form-label">First Name</label>
                <input id="firstName" class="form-control" @bind="QueryModel.Filter.FirstName" @bind:event="oninput" />
                <div id="firstNameHelp" class="form-text">@(QueryModel.Filter.FirstName.HumanizeFilterSyntax<string>("'FirstName'"))</div>
            </div>
            <div class="col-md-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input id="lastName" class="form-control" @bind="QueryModel.Filter.LastName" @bind:event="oninput" />
                <div id="lastNameHelp" class="form-text">@(QueryModel.Filter.LastName.HumanizeFilterSyntax<string>("'LastName'"))</div>
            </div>
            <div class="col-md-3">
                <label for="gender" class="form-label">Gender</label>
                <input id="gender" class="form-control" @bind="QueryModel.Filter.Gender" @bind:event="oninput" />
                <div id="genderHelp" class="form-text">@(QueryModel.Filter.Gender.HumanizeFilterSyntax<Gender>("'Gender'"))</div>
            </div>
            <div class="col-md-3">
                <label for="birthday" class="form-label">Birthday</label>
                <input id="birthday" class="form-control" @bind="QueryModel.Filter.Birthday" @bind:event="oninput" />
                <div id="birthdayHelp" class="form-text">@(QueryModel.Filter.Birthday.HumanizeFilterSyntax<DateTime>("'Birthday'"))</div>
            </div>
            <div class="col-md-3">
                <label for="hourlyRate" class="form-label">Hourly Rate</label>
                <input id="hourlyRate" class="form-control" @bind="QueryModel.Filter.HourlyRate" @bind:event="oninput" />
                <div id="hourlyRateHelp" class="form-text">@(QueryModel.Filter.HourlyRate.HumanizeFilterSyntax<double>("'HourlyRate'"))</div>
            </div>
            <div class="col-md-3">
                <label for="experience" class="form-label">Street</label>
                <input id="experience" class="form-control" @bind="QueryModel.Filter.AddressStreet" @bind:event="oninput" />
                <div id="experienceHelp" class="form-text">@(QueryModel.Filter.AddressStreet.HumanizeFilterSyntax<string>("'AddressStreet'"))</div>
            </div>
            <div class="col-md-3">
                <label for="project" class="form-label">Project</label>
                <input id="project" class="form-control" @bind="QueryModel.Filter.ProjectTitle" @bind:event="oninput" />
                <div id="projectHelp" class="form-text">@(QueryModel.Filter.ProjectTitle.HumanizeFilterSyntax<string>("'ProjectTitle'"))</div>
            </div>
            <div class="col-md-3">
                <label for="seed" class="form-label">Seed</label>
                <input id="seed" type="number" class="form-control" @bind="QueryModel.Seed" @bind:event="oninput" />
                <div id="seedHelp" class="form-text">Using the same seed returns predictable result</div>
            </div>

            <!-- Sort by -->
            <div class="col-md-12 m-0">
                <hr />
            </div>
            <div class="col-md-12 m-0 semibold">Sort</div>
            <div class="col-md-3">
                <label for="sortOrder1" class="form-label">1st level</label>
                <select id="sortOrder1" class="form-select" aria-label="1st level sorting" @bind="QueryModel.Sort[0]" @bind:after="@UpdateQuery">
                    <option selected></option>
                    <option value="lastName-asc">Last Name 🡑</option>
                    <option value="lastName-desc">Last Name 🡓</option>
                    <option value="lastName.length-asc">Length of Last Name 🡑</option>
                    <option value="lastName.length-desc">Length of Last Name 🡓</option>
                    <option value="gender-asc">Gender 🡑</option>
                    <option value="gender-desc">Gender 🡓</option>
                    <option value="birthday-asc">Birthday 🡑</option>
                    <option value="birthday-desc">Birthday 🡓</option>
                    <option value="hourlyRate-asc">Hourly Rate 🡑</option>
                    <option value="hourlyRate-desc">Hourly Rate 🡓</option>
                    <option value="addressStreet-asc">Street 🡑</option>
                    <option value="addressStreet-desc">Street 🡓</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="sortOrder2" class="form-label">2nd level</label>
                <select id="sortOrder2" class="form-select" aria-label="2nd level sorting" @bind="QueryModel.Sort[1]" @bind:after="@UpdateQuery">
                    <option selected></option>
                    <option value="lastName-asc">Last Name 🡑</option>
                    <option value="lastName-desc">Last Name 🡓</option>
                    <option value="lastName.length-asc">Length of Last Name 🡑</option>
                    <option value="lastName.length-desc">Length of Last Name 🡓</option>
                    <option value="gender-asc">Gender 🡑</option>
                    <option value="gender-desc">Gender 🡓</option>
                    <option value="birthday-asc">Birthday 🡑</option>
                    <option value="birthday-desc">Birthday 🡓</option>
                    <option value="hourlyRate-asc">Hourly Rate 🡑</option>
                    <option value="hourlyRate-desc">Hourly Rate 🡓</option>
                    <option value="addressStreet-asc">Street 🡑</option>
                    <option value="addressStreet-desc">Street 🡓</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="sortOrder3" class="form-label">3rd level</label>
                <select id="sortOrder3" class="form-select" aria-label="3rd level sorting" @bind="QueryModel.Sort[2]" @bind:after="@UpdateQuery">
                    <option selected></option>
                    <option value="lastName-asc">Last Name 🡑</option>
                    <option value="lastName.length-asc">Length of Last Name 🡑</option>
                    <option value="lastName.length-desc">Length of Last Name 🡓</option>
                    <option value="lastName-desc">Last Name 🡓</option>
                    <option value="gender-asc">Gender 🡑</option>
                    <option value="gender-desc">Gender 🡓</option>
                    <option value="birthday-asc">Birthday 🡑</option>
                    <option value="birthday-desc">Birthday 🡓</option>
                    <option value="hourlyRate-asc">Hourly Rate 🡑</option>
                    <option value="hourlyRate-desc">Hourly Rate 🡓</option>
                    <option value="addressStreet-asc">Street 🡑</option>
                    <option value="addressStreet-desc">Street 🡓</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="sortOrder4" class="form-label">4th level</label>
                <select id="sortOrder4" class="form-select" aria-label="4th level sorting" @bind="QueryModel.Sort[3]" @bind:after="@UpdateQuery">
                    <option selected></option>
                    <option value="lastName-asc">Last Name 🡑</option>
                    <option value="lastName-desc">Last Name 🡓</option>
                    <option value="lastName.length-asc">Length of Last Name 🡑</option>
                    <option value="lastName.length-desc">Length of Last Name 🡓</option>
                    <option value="gender-asc">Gender 🡑</option>
                    <option value="gender-desc">Gender 🡓</option>
                    <option value="birthday-asc">Birthday 🡑</option>
                    <option value="birthday-desc">Birthday 🡓</option>
                    <option value="hourlyRate-asc">Hourly Rate 🡑</option>
                    <option value="hourlyRate-desc">Hourly Rate 🡓</option>
                    <option value="addressStreet-asc">Street 🡑</option>
                    <option value="addressStreet-desc">Street 🡓</option>
                </select>
            </div>

            <!-- Action -->
            <div class="col-md-12 m-0">
                <hr />
            </div>
            <div class="col-12 m-0">
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-primary" @onclick="@ClearQuery">Clear</button>
                <button type="button" class="btn btn-primary" @onclick="@ChangeSeed">Change Seed</button>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <h6 class="card-header">
        @{
            var resultDescription = (QueryResult.ErrorMessage != null)
            ? "Error"
            : QueryResult.Data != null ? QueryResult.FilteredCount + "/" + QueryResult.UnfilteredCount : "";
        }

        <div class="d-flex align-items-center">
            <div class="flex-grow-1">
                Query Result (@resultDescription)
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination m-0">
                    <li class="page-item">
                        <a class="page-link" @onclick="() => SetPage(Math.Max(QueryModel.PageNumber - 1, 1))" aria-label="Previous page">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (var pageIndex = 1; pageIndex <= PageCount; pageIndex++)
                    {
                        <li class="page-item @(pageIndex == QueryModel.PageNumber ? "active" : "")">
                            @{
                                var capturedPageIndex = pageIndex;
                                <a class="page-link" @onclick="() => SetPage(capturedPageIndex)">@pageIndex</a>
                            }
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link" @onclick="() => SetPage(Math.Min(QueryModel.PageNumber + 1, PageCount))" aria-label="Next page">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="dropdown ms-3">
                <button class="btn btn-outline-primary dropdown-toggle border page-size" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @QueryModel.PageSize
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" @onclick="() => SetPageSize(5)">5</a></li>
                    <li><a class="dropdown-item" @onclick="() => SetPageSize(10)">10</a></li>
                    <li><a class="dropdown-item" @onclick="() => SetPageSize(15)">15</a></li>
                </ul>
            </div>
        </div>
    </h6>
    <ul class="list-group list-group-flush">
        @if (QueryResult.ErrorMessage != null)
        {
            <li class="list-group-item">
                <p>@QueryResult.ErrorMessage</p>
            </li>
        }
        else if (QueryResult.Data == null)
        {
            <li class="list-group-item">
                <p>Loading</p>...
            </li>
        }
        else
        {
            <li class="list-group-item">
                <SimpleTable Items="QueryResult.Data">
                    <HeaderTemplate>
                        <tr>
                            <th class="text-nowrap">First Name</th>
                            <th class="text-nowrap">Last Name</th>
                            <th class="text-nowrap">Gender</th>
                            <th class="text-nowrap">Birthday</th>
                            <th class="text-nowrap">Hourly Rate</th>
                            <th class="text-nowrap">Street</th>
                            <th class="text-nowrap">Projects</th>
                        </tr>
                    </HeaderTemplate>
                    <RowTemplate Context="freelancer">
                        <tr>
                            <td>@freelancer.FirstName</td>
                            <td>@freelancer.LastName</td>
                            <td>@freelancer.Gender</td>
                            <td>@freelancer.Birthday?.ToString("d")</td>
                            <td>@freelancer.HourlyRate.ToString("c", NumberFormat)</td>
                            <td>@freelancer.Address.Street</td>
                            <td class="description">@string.Join(", ", freelancer.Projects.Select(x => x.Title))</td>
                        </tr>
                    </RowTemplate>
                </SimpleTable>
            </li>
            <li class="list-group-item">
                <h6>URL</h6>
                <pre>@QueryResult.HttpQuery</pre>
            </li>
            <li class="list-group-item">
                <h6>Expression</h6>
                <pre>@QueryResult.FilterExpression</pre>
            </li>
            <li class="list-group-item">
                <h6>SQL (SQLite) <button type="button" class="btn btn-outline-secondary btn-sm" @onclick="FormatSql">Beautify</button></h6>
                <pre class="sql">@QueryResult.SqlQuery</pre>
            </li>
        }
    </ul>
</div>
