@page "/demo"
@using Plainquire.Demo.Components
@using Plainquire.Filter

<div class="row">
    <div class="col-12">
        <h1>
            <img src="images/query.svg" alt="Query" width="32" class="me-2 logo" />
            Query
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <form class="row g-3" onsubmit="" novalidate>
            <!-- Predefined samples -->
            <div class="col-md-12 pt-4 semibold">Predefined samples</div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-success border-2" @onclick="@(() => LoadPredefined("Older-than-40"))">Older than 40</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-success border-2" @onclick="@(() => LoadPredefined("Unknown-Age"))">Unknown Age</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-success border-2" @onclick="@(() => LoadPredefined("Known-Age"))">Known Age</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-success border-2" @onclick="@(() => LoadPredefined("Gender-Contains"))">Gender contains 'male'</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-success border-2" @onclick="@(() => LoadPredefined("Address-Street"))">Street contains 'A'</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-success border-2" @onclick="@(() => LoadPredefined("Project-Contains"))">Project contains 'Z'</button>
            </div>

            <!-- Filter -->
            <div class="col-8 m-0 pt-5 semibold">Filter</div>
            <div class="col-4 m-0 pt-5 text-end">
                <a class="text-success text-decoration-none" @onclick="@ClearQuery">
                    <img class="trash" src="images/trash.svg" alt="Clear all" />
                    Clear all
                </a>
            </div>
            <div class="col-md-3">
                <label for="firstName" class="form-label">First Name</label>
                <div class="input-group">
                    <input id="firstName" class="form-control" placeholder="type to filter" @bind="QueryModel.Filter.FirstName" @bind:event="oninput" @onblur="@UpdateQuery" />
                    <span id="firstNameHelp" class="input-group-text" data-bs-toggle="tooltip" data-bs-title="@(QueryModel.Filter.FirstName.HumanizeFilterSyntax<string>("'FirstName'"))">
                        <img src="/images/info-circle.svg" alt="info" />
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <label for="lastName" class="form-label">Last Name</label>
                <div class="input-group">
                    <input id="lastName" class="form-control" placeholder="type to filter" @bind="QueryModel.Filter.LastName" @bind:event="oninput" @onblur="@UpdateQuery" />
                    <span id="lastNameHelp" class="input-group-text" data-bs-toggle="tooltip" data-bs-title="@(QueryModel.Filter.LastName.HumanizeFilterSyntax<string>("'LastName'"))">
                        <img src="/images/info-circle.svg" alt="info" />
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <label for="gender" class="form-label">Gender</label>
                <div class="input-group">
                    <input id="gender" class="form-control" placeholder="type to filter" @bind="QueryModel.Filter.Gender" @bind:event="oninput" @onblur="@UpdateQuery" />
                    <span id="genderHelp" class="input-group-text" data-bs-toggle="tooltip" data-bs-title="@(QueryModel.Filter.Gender.HumanizeFilterSyntax<string>("'Gender'"))">
                        <img src="/images/info-circle.svg" alt="info" />
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <label for="birthday" class="form-label">Birthday</label>
                <div class="input-group">
                    <input id="birthday" class="form-control" placeholder="type to filter" @bind="QueryModel.Filter.Birthday" @bind:event="oninput" @onblur="@UpdateQuery" />
                    <span id="birthdayHelp" class="input-group-text" data-bs-toggle="tooltip" data-bs-title="@(QueryModel.Filter.Birthday.HumanizeFilterSyntax<string>("'Birthday'"))">
                        <img src="/images/info-circle.svg" alt="info" />
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <label for="hourlyRate" class="form-label">Hourly Rate</label>
                <div class="input-group">
                    <input id="hourlyRate" class="form-control" placeholder="type to filter" @bind="QueryModel.Filter.HourlyRate" @bind:event="oninput" @onblur="@UpdateQuery" />
                    <span id="hourlyRateHelp" class="input-group-text" data-bs-toggle="tooltip" data-bs-title="@(QueryModel.Filter.HourlyRate.HumanizeFilterSyntax<string>("'HourlyRate'"))">
                        <img src="/images/info-circle.svg" alt="info" />
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <label for="experience" class="form-label">Street</label>
                <div class="input-group">
                    <input id="experience" class="form-control" placeholder="type to filter" @bind="QueryModel.Filter.AddressStreet" @bind:event="oninput" @onblur="@UpdateQuery" />
                    <span id="experienceHelp" class="input-group-text" data-bs-toggle="tooltip" data-bs-title="@(QueryModel.Filter.AddressStreet.HumanizeFilterSyntax<string>("'AddressStreet'"))">
                        <img src="/images/info-circle.svg" alt="info" />
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <label for="project" class="form-label">Project</label>
                <div class="input-group">
                    <input id="project" class="form-control" placeholder="type to filter" @bind="QueryModel.Filter.ProjectTitle" @bind:event="oninput" @onblur="@UpdateQuery" />
                    <span id="projectHelp" class="input-group-text" data-bs-toggle="tooltip" data-bs-title="@(QueryModel.Filter.ProjectTitle.HumanizeFilterSyntax<string>("'ProjectTitle'"))">
                        <img src="/images/info-circle.svg" alt="info" />
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <label for="seed" class="form-label">Seed</label>
                <div class="input-group">
                    <span id="changeSeed" class="input-group-text" data-bs-toggle="tooltip" data-bs-title="Change Seed">
                        <a @onclick="ChangeSeed">
                            <img src="/images/arrow-clockwise.svg" alt="Change Seed" />
                        </a>
                    </span>
                    <input id="seed" class="form-control" placeholder="type to filter" @bind="QueryModel.Seed" @bind:event="oninput" @onblur="@UpdateQuery" />
                    <span id="seedHelp" class="input-group-text" data-bs-toggle="tooltip" data-bs-title="Use seed for predictable results">
                        <img src="/images/info-circle.svg" alt="Info" />
                    </span>
                </div>
            </div>

            <!-- Sort by -->
            <div class="col-md-12 m-0 pt-5 semibold">Sort</div>
            <div class="col-md-3">
                <label for="sortOrder1" class="form-label">First Level</label>
                <select id="sortOrder1" class="form-select" aria-label="1st level sorting" @bind="QueryModel.Sort[0]" @bind:after="@UpdateQuery">
                    <option selected></option>
                    <option value="lastName-asc">Last Name 🡑</option>
                    <option value="lastName-desc">Last Name 🡓</option>
                    <option value="lastName.length-asc">Length of Last Name 🡑</option>
                    <option value="lastName.length-desc">Length of Last Name 🡓</option>
                    <option value="gender-asc">Gender 🡑</option>
                    <option value="gender-desc">Gender 🡓</option>
                    <option value="birthday-asc">Birthday 🡑</option>
                    <option value="birthday-desc">Birthday 🡓</option>
                    <option value="hourlyRate-asc">Hourly Rate 🡑</option>
                    <option value="hourlyRate-desc">Hourly Rate 🡓</option>
                    <option value="addressStreet-asc">Street 🡑</option>
                    <option value="addressStreet-desc">Street 🡓</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="sortOrder2" class="form-label">Second Level</label>
                <select id="sortOrder2" class="form-select" aria-label="2nd level sorting" @bind="QueryModel.Sort[1]" @bind:after="@UpdateQuery">
                    <option selected></option>
                    <option value="lastName-asc">Last Name 🡑</option>
                    <option value="lastName-desc">Last Name 🡓</option>
                    <option value="lastName.length-asc">Length of Last Name 🡑</option>
                    <option value="lastName.length-desc">Length of Last Name 🡓</option>
                    <option value="gender-asc">Gender 🡑</option>
                    <option value="gender-desc">Gender 🡓</option>
                    <option value="birthday-asc">Birthday 🡑</option>
                    <option value="birthday-desc">Birthday 🡓</option>
                    <option value="hourlyRate-asc">Hourly Rate 🡑</option>
                    <option value="hourlyRate-desc">Hourly Rate 🡓</option>
                    <option value="addressStreet-asc">Street 🡑</option>
                    <option value="addressStreet-desc">Street 🡓</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="sortOrder3" class="form-label">Third Level</label>
                <select id="sortOrder3" class="form-select" aria-label="3rd level sorting" @bind="QueryModel.Sort[2]" @bind:after="@UpdateQuery">
                    <option selected></option>
                    <option value="lastName-asc">Last Name 🡑</option>
                    <option value="lastName.length-asc">Length of Last Name 🡑</option>
                    <option value="lastName.length-desc">Length of Last Name 🡓</option>
                    <option value="lastName-desc">Last Name 🡓</option>
                    <option value="gender-asc">Gender 🡑</option>
                    <option value="gender-desc">Gender 🡓</option>
                    <option value="birthday-asc">Birthday 🡑</option>
                    <option value="birthday-desc">Birthday 🡓</option>
                    <option value="hourlyRate-asc">Hourly Rate 🡑</option>
                    <option value="hourlyRate-desc">Hourly Rate 🡓</option>
                    <option value="addressStreet-asc">Street 🡑</option>
                    <option value="addressStreet-desc">Street 🡓</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="sortOrder4" class="form-label">Fourth Level</label>
                <select id="sortOrder4" class="form-select" aria-label="4th level sorting" @bind="QueryModel.Sort[3]" @bind:after="@UpdateQuery">
                    <option selected></option>
                    <option value="lastName-asc">Last Name 🡑</option>
                    <option value="lastName-desc">Last Name 🡓</option>
                    <option value="lastName.length-asc">Length of Last Name 🡑</option>
                    <option value="lastName.length-desc">Length of Last Name 🡓</option>
                    <option value="gender-asc">Gender 🡑</option>
                    <option value="gender-desc">Gender 🡓</option>
                    <option value="birthday-asc">Birthday 🡑</option>
                    <option value="birthday-desc">Birthday 🡓</option>
                    <option value="hourlyRate-asc">Hourly Rate 🡑</option>
                    <option value="hourlyRate-desc">Hourly Rate 🡓</option>
                    <option value="addressStreet-asc">Street 🡑</option>
                    <option value="addressStreet-desc">Street 🡓</option>
                </select>
            </div>
        </form>
    </div>
</div>

<div class="row pt-5">
    <div class="col">
        @{
            var queryResultCount = (QueryResult.ErrorMessage != null)
            ? "Error"
            : QueryResult.Data != null ? QueryResult.FilteredCount + "/" + QueryResult.UnfilteredCount : "";
        }
        <h1>
            <img src="images/result.svg" alt="Result" width="32" class="me-2 logo" />
            Result <span class="fs-5">(@queryResultCount)</span>
        </h1>
    </div>
    <div class="col-auto">
        <div class="d-flex align-items-center">
            <nav aria-label="Result page navigation">
                <ul class="pagination m-0">
                    <li class="page-item">
                        <a class="page-link" @onclick="() => SetPage(Math.Max(QueryModel.PageNumber - 1, 1))" aria-label="Previous page">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (var pageIndex = 1; pageIndex <= PageCount; pageIndex++)
                    {
                        <li class="page-item @(pageIndex == QueryModel.PageNumber ? "active" : "")">
                            @{
                                var capturedPageIndex = pageIndex;
                                <a class="page-link" @onclick="() => SetPage(capturedPageIndex)">@pageIndex</a>
                            }
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link" @onclick="() => SetPage(Math.Min(QueryModel.PageNumber + 1, PageCount))" aria-label="Next page">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="dropdown ms-3">
                <button class="btn btn-outline-primary dropdown-toggle border page-size" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @QueryModel.PageSize
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" @onclick="() => SetPageSize(5)">5</a></li>
                    <li><a class="dropdown-item" @onclick="() => SetPageSize(10)">10</a></li>
                    <li><a class="dropdown-item" @onclick="() => SetPageSize(15)">15</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@if (QueryResult.ErrorMessage != null)
{
    <p>@QueryResult.ErrorMessage</p>
}
else if (QueryResult.Data == null)
{
    <p>Loading...</p>
}
else
{
    <SimpleTable Items="QueryResult.Data">
        <HeaderTemplate>
            <tr>
                <th class="text-nowrap">First Name</th>
                <th class="text-nowrap">Last Name</th>
                <th class="text-nowrap">Gender</th>
                <th class="text-nowrap">Birthday</th>
                <th class="text-nowrap">Hourly Rate</th>
                <th class="text-nowrap">Street</th>
                <th class="text-nowrap">Projects</th>
            </tr>
        </HeaderTemplate>
        <RowTemplate Context="freelancer">
            <tr>
                <td>@freelancer.FirstName</td>
                <td>@freelancer.LastName</td>
                <td>@freelancer.Gender</td>
                <td>@freelancer.Birthday?.ToString("d")</td>
                <td>@freelancer.HourlyRate.ToString("c", _numberFormat)</td>
                <td>@freelancer.Address.Street</td>
                <td class="projects">@string.Join(", ", freelancer.Projects.Select(x => x.Title))</td>
            </tr>
        </RowTemplate>
    </SimpleTable>

    <div class="row pt-5">
        <div class="col-12">
            <h1>
                <img src="images/magic.svg" alt="Magic" width="32" class="me-2 logo" />
                The Magic
            </h1>
        </div>
    </div>

    <div class="my-3 border rounded-2 url">
        <pre class="mx-3 my-2 text-wrap"><img src="images/lock.svg" alt="Lock" class="me-3" />@QueryResult.HttpQuery</pre>
    </div>

    <div class="row">
        <div class="col">
            <div class="card my-3">
                <div class="card-header">
                    C# Expression
                </div>
                <div class="card-body">
                    <pre class="text-wrap">@QueryResult.FilterExpression</pre>
                </div>
            </div>
        </div>
        <div class="col-md-auto col-12 text-center">
            <div class="my-3 fs-1 text-success">&#10095;</div>
        </div>
        <div class="col">
            <div class="card my-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col">SQL Query</div>
                        <div class="col-auto text-body-secondary">SQLite</div>
                    </div>
                </div>
                <div class="card-body">
                    <pre class="sql">@QueryResult.SqlQuery</pre>
                </div>
            </div>
        </div>
    </div>
}
